[user]
	name = civilx64
	email = 26513472+civilx64@users.noreply.github.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[credential]
	helper = /c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager.exe
